.flex-container {
  display: flex;
}
.boxes {
  width: 50%;
  height: 500px;
  margin: 30px;
}
.image {
  height: 400px;
  width: 500px;
}
.content-style {
  font-family: "Muli", Sans-serif;
  padding: 5px;
}

.heading {
  color: var(--goldenrod);
  padding: 20px;
}
